* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;
    font-family: monospace;
}


.bg-color {
    background-color: rgb(237 242 247);
}

/* HEADER */
.header {
    height: 75px;
    text-align: center;

}
.logo-header {
    width: 250px;
    margin-top: 8px;
}

/* MAIN */

.main-section {
    width: 40%;
    height: 900px;
    margin: 50px auto;
}

.container{
    border-radius: 20px;
    height: 100%;
}

/* SEARCH BAR SECTION */

.search-bar-section {
    padding: 20px 0;
    text-align: center;
}

.hr-line{
    border: 2px solid white;
}

/* LIST SECTION */

.list-section {
    width: 80%;
    margin: 40px auto
}

.list-section ul {
    list-style-type: none;
}

.innested-item {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
    height: 55px;
}

.arrow-icon {
    font-size: 35px;
    color: lightgreen;
}

.task-section-font {
    font-size: 30px;
}

.not-done-container {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.not-done-icon {
    color: red;
    font-size: 10px;
    padding: 5px;
    border: 5px solid red;
    border-radius: 50%;
}

.task-icon {
    width: 30px;
}